/*h1*/
/* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap'); */
/*description*/
/* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&family=Roboto+Flex:opsz,wght@8..144,200&display=swap'); */
/*author*/
/* @import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap'); */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
    background-color: #F9FAFB;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}

h1, .new div.title, h5, h2{
    color: #111827;
}

h2{
    font-size: 1.5rem;
}

/* .new div.author{
    font-family: 'Koulen', cursive;
} */

/* .form-p-clave span#p-clave{
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Flex', sans-serif;
} */

.new div.content{
    /* font-family: 'Ubuntu', sans-serif; */
    line-height: 1.3rem;
    font-size: .9rem;
    text-align: justify;
}
.new div.content,
.new .footer-new .date{
    color: #374151;
}


/*========================================================================
|  HEADER
|
=========================================================================*/
header{
    padding: 3% 20%;
    text-align: center;
    background-image: linear-gradient(rgb(152, 252, 255), rgb(146, 255, 228));
    /*#4fc3f7 */
    /* background-image: linear-gradient(#4fc3f7, rgb(146, 233, 255)); */

    align-items: center;
    margin-bottom: 2%;
}

header h1{
    font-size: 7rem;
    width: auto;
    margin-bottom: 4%;
}

header h1:hover{
    color: #7e57c2;
    cursor: pointer;
}

header span{
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    bottom: 10px;
}


/*========================================================================
|  MAIN
|
=========================================================================*/
main{
    padding: 0 5%;
}

main .filtros{
    text-align: center;
}

main .filtros h3{
    font-size: 4rem;
    padding-bottom: 2%;
}

main .filtros span#p-clave{
    font-size: 1rem;
}

main .filtros form{
    font-size: 3rem;
    padding-bottom: 2%;
}

main .filtros form input#search{
    width: 500px;
    height: 50px;
    margin-right: -0.5%;
    padding-left: 1%;
    font-size: 1rem;
}

main .filtros form button#enviar{
    width: 150px;
    height: 50px;
    margin-left: -0.5%;
    cursor: pointer;
    font-size: 1rem;
}

main .filtros .filtro-button{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
}

main .filtros ul{
    font-size: 3rem;
    padding-bottom: 2%;
}

main .filtros ul button{
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 1rem;
    margin: 0 1%;
}

main .filtros h5{
    padding: 1%;
    font-size: 2.5rem;
}

main .filtros .filtro-button div.options{
    position: absolute;
    z-index: 100;
    background-color: #fff;
    max-width: 150px;
    width: 100%;
    max-height: 300px;
    height: 100%;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.301);
    margin-top: 1rem;
    transform: translatex(6rem);
    overflow: scroll;
    display: none;
}

main .filtros .filtro-button div.options ul{
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15%;
    
}

main .filtros .filtro-button div.options ul a{
    max-width: max-content;
    width: 100%;
    font-size: 1rem;
    margin: 10% 0;
}

main .filtros .filtro-button div.options ul a:hover{
    color: rgb(90, 146, 127);
}


div.all-news{
    max-width: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
    row-gap: 0px;
}

.new{
    background-color: #fff;
    margin: 15px;
    padding: 15px;
    border-radius: 32px;
    border: solid 1px #d7d8db;
}

.new .img-new picture{
    max-width: 10%;
    width: 100%;
}

.new .img-new picture img{
    width: 100%;
    height: 150px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.new div.author{
    font-size: .9rem;
}

.new div.title{
    font-size: 1.3rem;
    margin-bottom: 1%;
    border-bottom: solid 1px #d7d8db;
    padding-bottom: 10px;
}

/* .hr-new{
    margin: 2% 0;
} */

.new .footer-new{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    /* justify-content: space-between; */
    /* column-gap: .5rem; */
}

.new .footer-new .date{
    font-size: .8rem;

}

.new .footer-new .mas{
    text-align: right;
    /* right: 50px; */
}

.new .footer-new .mas button{
    border: none;
    background-color: #0dcaf0;
    
    border-radius: 50px;
    width: 85px;
    height: 25px;
    right: 0;
}
.new .footer-new .mas button a{
    color: #ffffff;
    font-weight: 700;
}










/*========================================================================
|  FOOTER
|
=========================================================================*/
footer{
    margin-top: 5%;
    padding: 2%;
    text-align: center;
    background-color: #000;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    align-items: center;
}

footer div.img img{
    max-width: 100px;
}

footer div.contact .contact{
    margin: 2%;
}

footer div.contact .contact a:hover{
    color: rgb(167, 54, 233);
}

footer div.contact .contact a{
    color: #fff;
}