.activeX{
    display: block;
}

.activeOptions{
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 48px;
    left: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 10px 5px;
    height: calc(100vh - 48px);
    color: #fff;
}

.sombra{
    box-shadow: 1px 1px 5px 1px rgb(83, 83, 83, 0.5);
    margin-bottom: 1rem;
}